body {
	background: #ffffe8;
	color: #242424;
}

a {
	color: #0000ff;
	font-size: 14pt;
}

#echolist {
	font-size: 14pt;
	border: 1px solid #424242;
}

#echolist td {
	padding: .2em 1em;
}

#echolist tr {
	cursor: pointer;
}

#echolist tr:nth-child(2n) {
	background: #eeeed8;
}

#echolist tr:hover {
	background: #ddddc8;
}

p {
	width: 800px;
	text-align: left;
}

#readloader {
	display: none;
	position: fixed;
	top: .5em;
	left: .5em;
}

#helper {
	background: #ffffe8;
	border: 1px solid #868686;
	padding: .5em;
	display: none;
	position: fixed;
	top: .5em;
	right: .5em;
}

h1, h3 {
	display: inline-block;
}

#reader-title, #reader-popup, #reader-content {
	font-size: 14pt;
}

#panel {
	display: none;
}

.button {
	font-size: 12pt;
	font-family: sans-serif;
	padding: .25em .5em;
	background: #4488ff;
	color: #ffffff;
	text-decoration: none;
	border-radius: .25em;
	box-shadow: 0 0 .10em #888877;
	cursor: pointer;
	border: 0;
}

.right {
	width: 800px;
	text-align: right;
}

#writer-error {
	display: none;
	color: #ff4422;
	font-weight: bold;
}

#writer-form {
	width: 800px;
}

#writer-form form {
	display: block;
}

#subject, #writer-body, #authstr {
	font-size: 12pt;
	font-family: sans-serif;
	width: 800px;
	padding: .5em;
	margin: .5em 0;
	border-radius: 0;
	border: 1px solid #424242;
}

#writer-body {
	height: 200px;
}

@media (pointer:coarse) {
	#reader-content {
		font-size: 24pt;
		margin-bottom: 128pt;
	}
	#echolist {
		font-size: 24pt;
	}
	#panel {
		display: none;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #424242;
		color: #bbbba8;
		font-size: 64pt;
		text-align: center;
	}
	#panel span {
		display: inline-block;
		width: 15%;
	}
	#helper {
		top: 0;
	}
}
